/* Importar fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Estilos gerais para o corpo do documento */
body {
    font-family: "Montserrat", sans-serif;
    background: #04070D;
}

/* Cabeçalho */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

#header .header-logo {
    max-width: 230px;
    max-height: 106px;
}

#header .header-logo img {
    width: 100%;
    height: 100%;
}

#header .header-nav {
    margin-right: 40px;
}

#header .header-nav ul {
    display: flex;
}

#header .header-nav ul li {
    margin: 0 10px;
    border-radius: 5px;
}

#header .header-nav ul li a {
    padding: 8px 20px;
    font-size: 1em;
    font-weight: 600;
    color: #FFFFFF;
}

#header .header-nav ul .active a {
    background: #FF4141;
}

/* Conteúdo principal */
#content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 60px;
}

#content .content-post-two {
    display: none;
}

#content .content-post,
#content .content-post-two {
    max-width: 825px;
    margin-right: 40px;
}

#content .content-post img,
#content .content-post-two img {
    width: 100%;
}

#content .content-info {
    max-width: 700px;
    width: 100%;
}

#content .content-info .content-info-title,
#content .content-info .content-info-subtitle,
#content .content-info .content-info-descrition {
    margin-top: 20px;
}

#content .content-info .content-info-title span {
    font-size: 2.4em;
    font-weight: 600;
    color: #05EBD9;
}

#content .content-info .content-info-subtitle span {
    font-size: 1.8em;
    font-weight: 600;
    color: #FFFFFF;
}

#content .content-info .content-info-descrition span {
    font-size: 1.2em;
    font-weight: 500;
    color: #FFFFFF;
}

#content .content-lead-input {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#content .content-lead-input input {
    border: 0;
    border-radius: 5px;
    padding: 14px;
    font-size: 1em;
}

#content .content-lead-input input:focus {
    outline: none;
}

#content .content-lead-input input[type="text"] {
    background: #FFFFFF;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#content .content-lead-input input[type="text"]::placeholder {
    color: #101216;
    font-weight: 600;
}

#content .content-lead-input input[type="submit"] {
    background: #05EBD9;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/* Media query para telas com largura máxima de 600 pixels */
@media screen and (max-width: 600px) {
    /* Ajuste de layout do cabeçalho */
    #header {
        justify-content: center;
    }

    /* Ocultar navegação principal em telas pequenas */
    #header .header-nav {
        display: none;
    }

    /* Ajustes de layout do conteúdo principal */
    #content {
        padding: 0px 40px;
    }

    /* Mostrar apenas uma postagem na tela pequena */
    #content .content-post {
        display: none;
    }

    /* Mostrar a segunda postagem na tela pequena */
    #content .content-post-two {
        display: block;
        margin-top: 40px;
        text-align: center;
    }

    /* Ajustes de layout para a segunda postagem */
    #content .content-post-two img {
        max-width: 257px;
        max-height: 145px;
    }

    /* Centralizar texto na segunda postagem */
    #content .content-info .content-info-title,
    #content .content-info .content-info-subtitle {
        text-align: center;
    }

    /* Ajuste de tamanho da fonte para telas pequenas */
    #content .content-info .content-info-title span {
        font-size: 1.6em;
    }

    #content .content-info .content-info-subtitle span {
        font-size: 1.4em;
    }

    #content .content-info .content-info-descrition span {
        font-size: 1.4em;
    }

    /* Margem inferior para o campo de entrada na tela pequena */
    #content .content-lead-input {
        margin-bottom: 40px;
    }
}


@media screen and (min-width: 600px) {
    #content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 100px 60px;
    }

    #content .content-post{
        max-width: 700px;
        margin-bottom: 40px;
    }
}